
<main class="flex"> 
  <aside class="w-80" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
      <div class="text-xl font-medium mb-2 ">Unassigned Animals</div>
      <p class="text-sm text-gray-700 mb-4">Below is a list of animals in our care that are not assigned to a volunteer currently. Click the 'Add to Care' button to add this animal to your personal care list:</p>
      <ul class="w-72 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200">
            {{#each unassignedAnimalsData as |animal|}} 
            <div>
              <li class="flex justify-between py-2 px-4 w-full border-b border-gray-200 hover:bg-gray-200">{{animal.name}} ({{animal.species}})
                <button onclick="addAnimaltoCare('{{animal.animal_id}}')" type="click" class="y-2 px-3 text-sm font-medium text-center text-white bg-pink-700 rounded-lg hover:bg-pink-600" id="add-to-care">Add to Care</button>
              </li>
            </div>
            {{/each}}
          </ul>
    </div>
  </aside>

   
  <div class="flex flex-col text-center w-full">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mt-10 mb-4 text-gray-900">Adoptable Pets</h1>
        <div class="flex flex-wrap gap-6 m-6">
                {{#each assignedAnimalsData as |animal|}}
                {{>assignanimals animal=animal}}
                {{/each}}
        </div>
  </div>
</main>

<script src="../js/dashboard.js"></script>
